<div style="border: solid 1px black; padding: 20px;">
    <h3>planet showoff compnent</h3>
    <br>
    <button (click)="openList()">List All</button>
    <button (click)="openListByID()">List By ID</button>
    <!--<a routerLink="/people">Detail</a>-->


    <div *ngIf="showTab == 1">
        <table class="table-striped">
            <tr *ngFor="let planet of planetList; let i = index">
                <td>{{i+ 1}}</td>
                <td><a href=""> {{planet.name}} </a></td>
            </tr>
        </table>
    </div>


    <div *ngIf="showTab == 2">
        <br>
        <select name="Select name" [(ngModel)]="selectedPlanetName" 
            (ngModelChange)="openDetail($event)"> 
            <option value="">Select </option>
            <option *ngFor="let n of planetList" [attr.value]="n.name">{{n.name}}</option>
            
        </select>

        <br>
        <div *ngIf="selectedPlanet">
            <div class="row">
                <div class="col-sm-3">
                    <label>Name : </label>
                </div>
                <div class="col-sm-3">
                    {{selectedPlanet.name}}
                </div>
                <div class="col-sm-3">
                    <label>diameter : </label>
                </div>
                <div class="col-sm-3">
                    {{selectedPlanet.diameter}}
                </div>
            </div>
             <div class="row">
                <div class="col-sm-3">
                    <label>population : </label>
                </div>
                <div class="col-sm-3">
                    {{selectedPlanet.population}}
                </div>
                <div class="col-sm-3">
                    <label>terrain : </label>
                </div>
                <div class="col-sm-3">
                    {{selectedPlanet.terrain}}
                </div>
            </div>
        </div>
    </div>
</div>