<div class="row">
    <div class="col-sm-12">
        <div style="border: solid 1px black; padding: 20px;">
            <h3>people compnent</h3>
        
            <button (click)="openList()">List</button>
            <button (click)="openListByID()">List By ID</button>
            <!--<a routerLink="/people">Detail</a>-->

            <div *ngIf="showTab == 1">
                <table class="table-striped">
                    <tr *ngFor="let people of peopleList; let i = index">
                        <td>{{i+ 1}}</td>
                        <td>{{people.name}}</td>
                    </tr>
                </table>
            </div>


            <div *ngIf="showTab == 2">
                <br>
                <select name="Select name" [(ngModel)]="selectedPeopleName" (ngModelChange)="openDetail($event)"> 
            <option value="">Select </option>
            <option *ngFor="let n of peopleList" [attr.value]="n.name">{{n.name}}</option>
            
        </select>

                <br>
                <div *ngIf="selectedPeople">
                    <div class="row">
                        <div class="col-sm-3">
                            <label>Name : </label>
                        </div>
                        <div class="col-sm-3">
                            {{selectedPeople.name}}
                        </div>
                        <div class="col-sm-3">
                            <label>height : </label>
                        </div>
                        <div class="col-sm-3">
                            {{selectedPeople.height}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label>skin_color : </label>
                        </div>
                        <div class="col-sm-3">
                            {{selectedPeople.skin_color}}
                        </div>
                        <div class="col-sm-3">
                            <label>eye_color : </label>
                        </div>
                        <div class="col-sm-3">
                            {{selectedPeople.eye_color}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

